.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  background-color: black;
  transition: opacity 0.5s ease-in;
  /* overflow: hidden; Prevent scroll during welcome */
}

.rainbow-text {
  display: inline-block; /* For animation effects */
  background: linear-gradient(90deg, red, orange, yellow, green,rgb(241, 139, 241), blue, rgb(79, 9, 130));
  background-size: 200%; /* This allows for the animation to move */
  -webkit-background-clip: text; /* Clip background to text */
  color: transparent; /* Text color must be transparent for gradient effect */
  animation: rainbow-animation 3s ease-in-out infinite; /* Infinite rainbow effect */
}

@keyframes rainbow-animation {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 100%;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px); /* Start slightly lower */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .welcome-message {
      font-size: 1.5em; /* Smaller font for mobile */
  }
}
